@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Base Styles */
.App {
  text-align: center;
  padding: 20px;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Difficulty Selector */
.difficulty-selector {
  margin-bottom: 20px;
}

.difficulty-selector label {
  font-size: 1rem;
  margin-right: 10px;
}

.difficulty-selector select {
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
}

/* Sudoku Grid */
.sudoku-grid {
  display: inline-block;
  border: 2px solid #000;
  margin: 20px auto;
  max-width: 100%;
}

.sudoku-row {
  display: flex;
}

.sudoku-cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.sudoku-cell:focus {
  outline: none;
  background-color: #f0f8ff;
}

.sudoku-cell.incorrect {
  background-color: #ffcccc; /* Highlight incorrect cells in red */
}

.sudoku-cell:disabled {
  background-color: #f0f0f0; /* Light gray background for fixed cells */
  color: #000; /* Black text for fixed cells */
  cursor: not-allowed; /* Show not-allowed cursor for fixed cells */
}

/* Controls */
.controls {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.controls button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #f7ad0d;
  color: white;
  transition: background-color 0.3s ease;
}

.controls button:hover {
  background-color: #c97901;
}

/* Message */
.message {
  margin-top: 20px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  width: 30%;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .sudoku-cell {
    width: 30px;
    height: 30px;
    font-size: 0.9rem;
  }

  .controls button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .message {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }

  .sudoku-cell {
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
  }

  .controls button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }

  .message {
    font-size: 0.8rem;
  }
}