@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.App {
  text-align: center;
  padding: 20px;
  font-family: 'Ubuntu', serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.difficulty-selector {
  margin-bottom: 20px;
}

.difficulty-selector label {
  font-size: 18px;
  margin-right: 10px;
}

.difficulty-selector select {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
}

.sudoku-grid {
  display: inline-block;
  border: 2px solid #000;
  margin: 20px;
}

.sudoku-row {
  display: flex;
}

.sudoku-cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
}

.sudoku-cell:focus {
  outline: none;
  background-color: #f0f8ff;
}

.sudoku-cell.incorrect {
  background-color: #ffcccc; /* Highlight incorrect cells in red */
}

.sudoku-cell:disabled {
  background-color: #f0f0f0; /* Light gray background for fixed cells */
  color: #000; /* Black text for fixed cells */
  cursor: not-allowed; /* Show not-allowed cursor for fixed cells */
}

.controls {
  margin-top: 20px;
}

.controls button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.message {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  width: 30%;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}